<aside class="sidebar">
  <div class="sidebar__card">
    <h2 class="sidebar__name">Francesco Pavano</h2>

    <p class="sidebar__bio">
      Finance + Innovation & Entrepreneurship + Data Science @ William & Mary.
    </p>

    <hr class="hr">

    <div class="sidebar__links">
      <a href="mailto:fjpavano@wm.edu">Email</a>
      <a href="https://www.linkedin.com/in/francesco-pavano" target="_blank">LinkedIn</a>
      <a href="https://github.com/fjpavano" target="_blank">GitHub</a>
    </div>
  </div>
</aside>
